.artist {
    background-color: #343434;
    padding: 1rem;
    border-radius: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artist:hover {
    cursor: pointer;
}

.imageContainer {
    min-width: 150px;
    height: 150px;
    border-radius: 75px;
    position: relative;
    border: 1px solid #e0b7ff;
}

.artist h2 {
    width: 100%;
    text-align: center;
}

.artist:hover {
    background-color: #FFFFFF33;
}