.header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    background-color: #1e1e1e;
    z-index: 99
}

.header > a, .header > div {
    color: #e0b7ff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    list-style: none;
}

.header > a:hover, .header > div:hover {
    text-decoration: none;
    background-color: #EFE9EF0C;
    color: white;
}