.songList {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    row-gap: 1rem;
}

.songList .songContainer {
    display: grid;
    grid-template-columns: 3rem 1fr;
}

.songList h6 {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: center;
    margin: auto 0;
    font-family: "Azeret Mono", monospace;
}

.numbered {
    padding-left: 0;
}
