.lyrics {
    width: 100%;
}

.lyrics h3 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

.lyrics h4 {
    color: #FFFFFFA0;
    margin: 1rem 0 2rem;
    text-align: center;
}

.lyrics select:focus {
    background-color: #121212;
}

.lyrics select {
    width: 100%;
    margin: 0;
    height: min-content;
}

.lyrics textarea {
    resize: vertical;
    width: 100%;
    min-height: 4rem;
    grid-column: 2;

    border: 2px solid #C1ABD6;
    background-color: transparent;
    color: #C1ABD6;
    padding: 0.2rem;
    border-radius: 5px;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
    font-size: 1.2rem;
}

.lyrics textarea:focus {
    border: 2px solid white;
    outline: none;
    color: #e4c4ff;
}

.lyrics .group {
    display: grid;
    grid-template-columns: 10rem;
    gap: 1rem;
    margin: 1rem 0;
}

.imageContainer {
    min-width: 200px;
    min-height: 200px;
    position: relative;
    border: 2px solid #e0b7ff;
    border-radius: 5px;
}

.song header {
    display: flex;
    align-items: flex-end;
}