.song {
    background-color: #1e1e1e;
    padding: 0.5rem;
    border-radius: 15px;
    align-items: center;
    display: flex;
}

.song:hover {
    background-color: #2c2c2c;
}

.imageContainer {
    min-width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid #e0b7ff;
    border-radius: 5px;
}

.songInfo {
    flex: 1 1 auto;
    display: flex;
    margin: 0 1rem;
    justify-content: space-between;
}

.songInfo p {
    margin: auto 0;
    text-align: right;
    font-family: 'Azeret Mono', monospace;
}

.mainSongInfo {
    width: 400px;
    margin: auto 0;
}

.likeImageContainer {
    width: 20px;
    height: 20px;
    position: relative;
    margin: auto 0.5rem;
}

.unliked {
    display: none !important;
}

.song:hover .unliked{
    display: block !important;
}

.song h3:hover, .song a:hover {
    cursor: pointer;
    color: white;
}

.imageContainer:hover {
    border-color: white;
    cursor: pointer;
}

.song a, .song h5 {
    font-size: 0.75rem;
    color: #E0B7FFA9;
}
