.song {
    background-color: #1e1e1e;
    padding: 0.5rem;
    border-radius: 15px;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.song:hover {
    background-color: #2c2c2c;
}

.imageContainer {
    min-width: 50px;
    height: 50px;
    position: relative;
    border: 1px solid #e0b7ff;
    border-radius: 5px;
}

.songInfo {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
}

.songInfo p {
    margin: auto 1rem auto 1rem;
    text-align: right;
    font-family: 'Azeret Mono', monospace;
    display: none;
}

.mainSongInfo {
    max-width: 400px;
    margin: auto 0;
}

.likeImageContainer {
    width: 20px;
    height: 20px;
    position: relative;
    margin: auto 0.5rem;
    display: none;
}


.song h3:hover, .song a:hover {
    cursor: pointer;
    color: white;
}

.imageContainer:hover {
    border-color: white;
    cursor: pointer;
}

.song a, .song h5 {
    font-size: 0.75rem;
    color: #E0B7FFA9;
}

@media (min-width: 650px) {
    .likeImageContainer {
        display: inline-block;
    }

    .song:hover .unliked, .song:active .unliked{
        display: block !important;
    }

    .unliked {
        display: none !important;
    }

    .songInfo p {
        display: inline-block;
    }
}