.songList {
    display: grid;
    row-gap: 1rem;
}

.songList h6 {
    font-size: 0.8rem;
    text-align: center;
    vertical-align: center;
    margin: auto 0;
    font-family: "Azeret Mono", monospace;
}

.numbered {
    padding-left: 0;
}

.indexes {
    display: none;
}


@media (min-width: 650px) {
    .songList .songContainer {
        display: grid;
        grid-template-columns: 3rem 1fr;
    }

    .indexes {
        display: inline-block;
    }
}