.artist h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 5rem;
    padding: 0;
    text-align: left;
    line-height: 5rem;
    white-space: pre-wrap;
    margin: 0.5rem 0;
    overflow-y: hidden;
}

.artist h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #C1ABD6A0;
    white-space: pre-wrap;
    overflow-y: hidden;
}

.mainContent .title {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
    margin: 2rem 0 1rem;
}

.imageContainer {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    border: 2px solid #e0b7ff;
    border-radius: 5px;
}

.artist header {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.artist hr {
    border: 1px solid #e0b7ff;
    width: 100%;
    margin: 2rem auto 0;
}

.artist h4 {
    color: #C1ABD6A0;
}


@media (min-width: 550px) {
    .imageContainer {
        width: 200px;
        min-width: 200px;
        height: 200px;
        padding: 0;
    }

    .artist header {
        flex-wrap: nowrap;
        justify-items: center;
    }

    .artist h1 {
        white-space: nowrap;
        margin: 0;
    }

    .mainContent {
        justify-content: center;
    }

    .artist h2, .artist a {
        white-space: nowrap;
    }

    .artistInfo {
        align-content: center;
        margin: auto 0;
    }
}
